@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/Content/CSS/style.css?v=@DateTime.Now.Millisecond">
    <title>Admin</title>
</head>
<body>
    <header>
        <div class="container">
             <div class="row">
                <div class="col-lg-5 " id="Home">
                    <a href="#">
                        <img src="/Content/images/5_White_logo_on_black_104x73.png">
                    </a>

                </div>
                <div class="col-lg-6" id="Add Elemend for Download" >
                    <ul class=" d-flex menu" >
                        <li class="menu__item">
                            <a href="/Admin/RegistationListElemets" >
                                List of Registration
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="/Admin/OfferListElements">
                                Offer List
                            </a>
                        </li>
                        <li class="menu__item">
                            <a href="/Home/Index" >
                                Log Out
                            </a>
                        </li>
                    </ul>
                </div>
           
        </div>
    </header>


    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 registration__field">
                    <form action="/Admin/AddElements" method="post" class="form">
                        <input type="text" name="Title" placeholder="Title"><br>
                        <input type="text" name="Description" placeholder="Description"><br>
                        <input type="text" name="ListOfFeatures" placeholder="ListOfFeatures"><br>
                        <input type="text" name="DescriptionAfter" placeholder="DescriptionAfter"><br>
                        <input type="text" name="URL" placeholder="URL"><br>
                        <input class="registration__button" type="submit" value="Add Element">
                    </form>
                </div>
                <div class="col-lg-6 registration__field">
                    
                    @RenderBody()

                </div>
            </div>
        </div>
    </section>
  
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
