@model IEnumerable<WebApplication1.Models.RegistrationList>
@{
    Layout = "~/Views/Admin/AdminPage.cshtml";
}
<h1>Registration List</h1>
<p>
    @foreach (var Item in Model)
    {
        @Item.UserName <br /> @Item.Email <br /><br /><br>
    }
</p>
